body{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    text-align: center;
    background-color: #90EE90;
    margin-top: 5px;
}
main{
    margin: 50px auto;
    max-width: 800px;  
}
section{
    margin-top: 30 px;
}

h1,h2 {
    font-weight: normal;
    font-family: Cambria, Times, serif;
    text-transform: uppercase;
}
h1{
    background-color: #8df3f3ec;   
    font-size: 20 px;
    color: #00005c;
    
}
h2{
    font-size: 15 px;
    background-color: #7fffd495;
    text-align: center;
    color: #21215a;
}
li, dl {
    font-style: normal;
    font-variant: small-caps;
    margin-left: 160px;
}
.detalle1{
    font-weight: bold;
    color: #3baa3b;
    text-decoration: underline;
}
footer{
    background-color: #85ee85;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
}
.imagenfinal{
    width: 20px;
    height: 20px;
}
